<script setup>
import AuthenticatedLayout from '@/Layouts/Authenticated.vue';
import Button from '@/Components/Button.vue';
import { Head, useForm, usePage } from '@inertiajs/inertia-vue3';
import { ref, onMounted, onBeforeUnmount, watch } from 'vue';
import PostForm from '@/Components/PostForm.vue';
import ValidationErrors from '@/Components/ValidationErrors.vue';
import ContentPicker from '@/Components/ContentPicker.vue';
import ImagePicker from '@/Components/ImagePicker.vue';
import TagInput from '@/Components/TagInput.vue';
import PublishTime from '@/Components/PublishTime.vue';
import Editor from '@tinymce/tinymce-vue'

const appName = usePage().props.value.config.app_name;
const lastBackupTime = ref(null);
const backupData = ref(null)
const categories = ref([]);
const backups = ref([]);
const authors = ref([]);
const topic = ref([]);
const defaultFlags = ref([]);
const props = defineProps({
  categories: {
    default: null,
  },
  post: {
    default: null,
  },
  authors: {
    default: null,
  },
  topic: {
    default: null,
  },
  flags: {
    type: Array,
    default: [],
  }
})

const modTopic = props.topic.map(e => ({ id: e.id, label: e.text }))

let form = useForm({
  id: props.post?.content?.id ? props.post.content.id : null,
  content: props.post ? props.post.content : null,
  property: {
    // publishTime: props.post ? new Date(props.post.property.publishTime * 1000) : null,
    // image: props.post ? props.post.property.image : null,
    // category: props.post ? props.post.property.category : null,
    // tags: props.post ? props.post.property.tags : null,
    // topic: props.post ? props.post.property.topic : null,
    // keywords: props.post ? props.post.property.keywords : null,
    // postType: props.post ? props.post.property.postType : 'article',
    // videoData: props.post ? props.post.property.videoData : null,
    // flags: props.post ? props.post.property.flags : defaultFlags,
    // isAdult: props.post ? props.post.property.isAdult : false,
    //author handle jika author di remove / delete atau pindah appname
    // authorId: props.post
    //     ? props.post.author
    //         ? props.post.author.id
    //         : usePage().props.value.auth.user.id
    //     : usePage().props.value.auth.user.id,
    // related: props.post ? props.post.property.related : [],
    // lainnya: props.post ? props.post.property.lainnya : [],
  },
})

const publish = () => {
  form.post(route(`content-${props.post.content.id ? 'update' : 'publish'}`), {
    onFinish: () => {
      // clearBackup();
    },
  })
}

const _checkString = (event) => {
  let pattern = /\b((cek fakta|cekfakta))\b/gi
  let result = pattern.test(event.target.value)

  if (result) {
    defaultFlags.value.push('cekfakta')
  } else {
    defaultFlags.value = []
  }

  return result
}

onBeforeUnmount(() => {
  // clearBackup();
})
onMounted(() => {
  /* setInterval(() => {
      backup();
  }, 1000 * 60); */

  for (const key in props.categories) {
    if (Object.hasOwnProperty.call(props.categories, key)) {
      const element = props.categories[key];
      categories.value.push({ id: element.id, text: element.name })
    }
  }

  for (const key in props.authors) {
    if (Object.hasOwnProperty.call(props.authors, key)) {
      const element = props.authors[key];
      authors.value.push({ id: element.id, text: element.name })
    }
  }

  for (const key in props.topic) {
    if (Object.hasOwnProperty.call(props.topic, key)) {
      const element = props.topic[key];
      topic.value.push({ id: element.id, text: element.text })
    }
  }
})

</script>
<template>
  <Head title="Create New Post" />

  <AuthenticatedLayout>
    <template #header>
      <div class="flex w-full items-center justify-between">
        <h2 class="font-semibold text-xl text-gray-800 leading-tight mb-5">
          Create New Post
        </h2>
        <!-- <div class="flex p-2">
          <Button type="button" @click="backup" class="flex justify-center bg-opacity-30">
            <i class='bx bx-save'></i>&nbsp;Backup
          </Button>
          <div>&nbsp;</div>
          <Button type="button" @click="clearBackupAction" title="Reset Form"
            class="flex justify-center bg-yellow-700 hover:bg-yellow-900 focus:border-yellow-700 bg-opacity-60">
            <i class='bx bx-reset'></i>
          </Button>
        </div> -->
      </div>
    </template>
    <div id="editor" class=" flex flex-row h-full">
      <div id="main-editor" class=" w-3/4 max-h-screen overflow-y-auto rounded bg-pink-100">
        <ValidationErrors class="text-white" />
        <PostForm v-model="form.content" @title-check="_checkString" />
      </div>
      <div id="properties" class=" w-1/4 h-full flex max-h-screen overflow-y-auto rounded flex-col flex-grow bg-pink-400 p-2">
        <div class="mb-5 border-b-2">
          <div>Post Type: </div>
          <div class="flex">
            <div class="px-1">
              <input v-model="form.property.postType" type="radio" value="article"> Article
            </div>
            <div class="px-1">
              <input v-model="form.property.postType" type="radio" value="video"> Video
            </div>
          </div>
        </div>
        <!-- <div class="mb-5 border-b-2">
          <div>Backup Version(s): </div>
          <Select2 :options="backups" v-model="backupData" :settings="{}" placeholder="Select Backup..." />
        </div> -->
        <div class="mb-5 border-b-2 pb-1">
          <div>Featured Image: </div>
          <ImagePicker v-model="form.property.image" :featured="true" />
        </div>
        <div v-if="form.property.postType == 'video'" class="mb-5 border-b-2">
          <div>Video URL (Youtube): </div>
          <VideoInputUrl v-model="form.property.videoData" />
        </div>
        <div class="mb-5 border-b-2">
          <div>Artikel Dewasa: </div>
          <div
            class="w-full flex-shrink-0 mb-4 bg-gray-100 border-solid border-2 border-red-500 rounded-lg p-2 h-20 max-h-32 overflow-auto">
            <div class="flex items-center">
              <input type="checkbox" v-model="form.property.isAdult" :value="true" class="rounded-sm">
              <div class="px-2">
                Artikel mengandung konten dewasa 18+
              </div>
            </div>
          </div>
        </div>
        <div class="mb-5 border-b-2">
          <div>Flags: </div>
          <div class="w-full flex-shrink-0 mb-4 bg-gray-100 rounded-lg p-2 h-20 max-h-32 overflow-auto">
            <div>
              <div v-for="(flag, i) in flags" :key="i" class="flex items-center">
                <input type="checkbox" v-model="form.property.flags" :value="i" class="rounded-sm">
                <div class="px-2">
                  {{ flag }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-5 border-b-2">
          <div>Category: </div>
          <v-select v-model="form.property.category" :options="categories" :settings="{}" placeholder="Select Category..." />
        </div>
        <div class="mb-5 border-b-2">
          <div>Author: </div>
          <v-select v-model="form.property.authorId" :options="authors" :settings="{}" placeholder="Select Author..." />
        </div>
        <!-- disable temporarily -->
        <div class="mb-5 border-b-2">
            <div>Topic: </div>
            <v-select v-model="form.property.topic" :options="modTopic" :settings="{}" placeholder="Select Topic..." />
        </div>
        <div class="mb-5 border-b-2">
          <div>Tags: </div>
          <TagInput name="tags" v-model="form.property.tags" class="text-sm" placeholder="Input Tag..." />
        </div>
        <div class="mb-5 border-b-2">
          <ContentPicker type="related" :tags="form.property.tags" v-model="form.property.related">Terkait
          </ContentPicker>
        </div>
        <div class="mb-5 border-b-2">
          <div class="w-full mb-4 pb-2 border-b">
            <ContentPicker type="lainnya" v-model="form.property.lainnya">Baca Juga</ContentPicker>
          </div>
        </div>
        <div class="mb-5 border-b-2">
          <PublishTime v-model="form.property.publishTime" class="mb-2" />
        </div>
        <Button type="button" @click="publish" class="flex justify-center">Draft &amp; Preview</Button>
        <Button type="button" @click="Inertia.visit(route('content-list'), { replace: true })"
          class="flex justify-center bg-yellow-600 my-2">Cancel</Button>
      </div>
    </div>

  </AuthenticatedLayout>
</template>
