<script setup>
import AuthenticatedLayout from '@/Layouts/Authenticated.vue';
import Button from '@/Components/ButtonFlex.vue';
import TextInput from '@/Components/TextInput.vue';
import { Head, usePage, Link } from '@inertiajs/inertia-vue3';
import { Inertia } from '@inertiajs/inertia';
import { onMounted, ref, reactive } from 'vue';
import Pagination from '@/Components/Pagination.vue';
import moment from 'moment';
import _ from 'lodash';
import Swal from 'sweetalert2';

const props = usePage().props;
const queryParams = route().params;
const userLevel = props.value.auth.user.level;
const edit = (id) => {
  Inertia.visit(route('content-edit', { id }))
}
const deploy = (id) => {
  Inertia.post(route('content-deploy-matamata', { postID: id }))
}

const statusClass = (statusText) => {
    switch (statusText) {
        case 'Published':
            return "text-green-800 font-bold";
            break;
        case 'Queue':
            return "text-yellow-800 font-bold";
            break;
        case "Draft": case "Revised":
            return "text-yellow-400 font-bold";
            break;
        case "Scheduled":
            return "text-cyan-500 font-bold";
            break;
        default:
            return "";
            break;
    }
}

const statusBorder = (statusText) => {

  switch (statusText) {
    case 'Published':
      return "border-4 border-green-500";
      break;
    case 'Queue':
      return "border-4 border-yellow-600";
      break;
    case "Draft": case "Revised":
      return "border-4 border-yellow-300";
      break;
    case "Scheduled":
      return "border-4 border-cyan-300";
      break;
    default:
      return "";
      break;
  }
}
const state = reactive({
  clearCache: null
});
const filterClass = ref([]);
const filters = ref(queryParams);
const searchText = ref(queryParams.title);
const filterDecoder = {
  'all': null,
  'published': 1,
  'scheduled': 2,
  'draft': 0
}
const selectFilter = (filter) => {
  Object.assign(filters.value, { status: filterDecoder[filter] });
  Inertia.get(route('content-list'), filters.value);
}
const titleFilter = () => {
  // Object.assign(filters.value,{title: searchText});
  const newObj = { title: searchText.value };
  filters.value = { ...filters.value, ...newObj }
  Inertia.get(route('content-list'), filters.value);
}

onMounted(() => {
  const filterEncoder = _.invert(filterDecoder);
  filterClass.value[filterEncoder[queryParams.status]] = "bg-sky-100 text-blue-800 rounded-lg font-bold";
})

const cacheClear = (suara_id) => {
  state.clearCache = suara_id;
  const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 3000,
    timerProgressBar: true,
    didOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  })

  axios.post('/backoffice/content/clear_frontcache', {
    'postSuaraID': suara_id
  }).then(response => {
    if (response.data.success) {
      state.clearCache = null;
      Toast.fire({
        icon: 'success',
        title: 'Clear Cache Successfully'
      })
    }
  });
}

</script>
<template>
  <Head title="All Content Post" />

  <AuthenticatedLayout>
    <template #header>
      <div class="flex items-center pb-2">
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
          <div>Posts</div>
        </h2>
        <div class="ml-2">
          <Button @click="$inertia.visit(route('content-create'))"
            class="border-2 border-blue-700 text-blue-700 hover:animate-pulse text-sm font-bold">Add New</Button>
        </div>
      </div>
    </template>
    <div class="w-full">
      <div class="w-full flex justify-between items-center">
        <div id="filters" class="flex mt-1 items-center">
          <div class="mr-1 hidden md:block">Filters:</div>
          <div @click="selectFilter('all')" :class="filterClass['all']" class="p-1 cursor-pointer mr-1 text-sm">All</div>
          <div @click="selectFilter('published')" :class="filterClass['published']"
            class="p-1 cursor-pointer mr-1 text-sm">Published</div>
          <div @click="selectFilter('scheduled')" :class="filterClass['scheduled']"
            class="p-1 cursor-pointer mr-1 text-sm">Scheduled</div>
          <div @click="selectFilter('draft')" :class="filterClass['draft']" class="p-1 cursor-pointer mr-1 text-sm">Draft
          </div>
        </div>
        <div class="flex items-center justify-center">
          <i class="bx bx-search"></i>
          <TextInput @keyup.enter="titleFilter()" v-model="searchText" type="search" class="text-md" :counter="false"
            placeholder="Search..." />
          <!-- <div class="text-md text-blue-800 cursor-pointer whitespace-nowrap">Search Post</div> -->
        </div>
      </div>
      <div class="w-full" v-if="queryParams.title">
        <span>Pencarian : </span><span class="font-bold italic">{{ queryParams.title }}</span>
      </div>
      <table class="w-full mt-4">
        <thead>
          <!-- <tr class="text-left border-b">
                        <th>Post</th>
                        <th>Options</th>
                    </tr> -->
        </thead>
        <tbody>
          <tr v-for="post in props.data" :key="post.id"
            class="border-b hover:bg-gradient-to-r hover:from-sky-100 hover:via-transparent hover:to-transparent">
            <td class="w-4/5 flex items-center">
              <div class="hidden w-2/12 m-2 md:flex justify-center items-center">
                <img :src="post.image_small_url" class="w-20 h-20 object-cover rounded-full"
                  :class="statusBorder(post.status_text)">
              </div>
              <div class="md:w-10/12 flex-grow">
                <div class="font-bold text-lg text-blue-800 w-full">
                  <Link title="Preview" >{{ post.title }}</Link>
                </div>
                <div class="flex text-sm">
                  <div class="w-1/4 flex flex-col justify-center">
                    <div>ID: {{ post.id }}</div>
                    <!-- <div>{{ post.category.name }}</div> -->
                    <div :class="statusClass(post.status_text)">
                      <div>{{ post.status_text }}</div>
                    </div>
                  </div>
                  <div class="hidden sm:w-2/4 sm:flex flex-col justify-center">
                    <div class="">Publish: {{ moment(post.created_at).format('DD MMM YYYY HH:mm') }}</div>
                    <div class="">Last Update: {{ moment(post.updated_at).format('DD MMM YYYY HH:mm') }}</div>
                  </div>
                  <div class="sm:w-1/4 sm:flex flex-col justify-center">
                    <div>{{ post.author_name ? post.author_name : 'unknown' }}</div>
                    <div v-if="post.suara_pid !== null">SID: {{ post.suara_pid }} </div>
                    <div v-if="state.clearCache == post.suara_pid && post.suara_pid !== null"
                      class="px-0 py-0 bg-transparent text-blue-800 text-md"><i
                        class="animate-spin bx bx-refresh text-lg"></i><span class="capitalize font-semibold text-center">
                        PROCESS</span></div>


                  </div>
                </div>
              </div>
            </td>
            <td class="py-2 bg-sky-50">
              <div class="flex items-center" v-if="post.author?.app_type?.app_name !== 'suara'">
                <Button class="bg-transparent text-blue-800 text-lg" @click="edit(post.id)"><i
                    class="bx bx-pencil text-xl"></i>
                  <div class="md:block hidden">Edit</div>
                </Button>
                <!-- <Button @click="edit(post.id)" type="button" class="text-white bg-blue-600 hover:bg-blue-400">Edit</Button> -->
                <Button class="bg-transparent text-blue-800 text-lg" v-if="post.suara_pid == null && userLevel == 1"
                  @click="deploy(post.id)" type="button"><i class="bx bx-cloud-upload text-xl"></i>
                  <div class="md:block hidden">Deploy</div>
                </Button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full px-4 mx-auto text-center">
        <!-- <Pagination :links="props.links" :from="props.from" :to="props.to" :total="props.total"
          :current_page="props.current_page" /> -->
      </div>
    </div>
  </div>

</AuthenticatedLayout></template>
