<script setup>
const props = defineProps({
    type: {
        type: String,
        default: 'submit',
    },
    class: {
        type: String,
        default: '',
    },
    disabled: {
        default: false,
    },
});
const classes = props.class;
</script>

<template>
    <button :type="type" :disabled="props.disabled" :class="classes" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md font-semibold text-xs uppercase tracking-widest focus:outline-none focus:shadow-outline-gray transition ease-in-out duration-150">
        <slot />
    </button>
</template>
