<script setup>
import TextInput from '../Components/TextInput.vue';
import PopModal from '../Layouts/PopModal.vue';
import ButtonFlex from '../Components/ButtonFlex.vue';
import {ref, onMounted, computed, watch} from 'vue';
import axios from 'axios';

const props = defineProps(['modelValue', 'type', 'tags']);
const emit = defineEmits(['update:modelValue']);
const toggleModal = ref(false);
const loading = ref(false);
const articles = ref([]);
const searchTitle = ref(null);
const selectedArticles = ref([]);
const filter = ref('all');
const titleHead = computed(() => {
    switch (props.type) {
        case "related":
            return "Terkait"
            break;

        default:
            return "Lainnya"
            break;
    }
})
const loadArticles = () => {
    loading.value = true;
    let tags = null;
    if(props.type == "related"){
        tags = props.tags;
    }
    axios.post(route('rest-helper', {helper: 'suara_content'}),{title: searchTitle.value, filter: filter.value, tags}).then((resp) => {
        // console.log(resp);
        articles.value = resp.data.result.data;
        console.log(articles.value);
        loading.value = false;
    }).catch(() => {
        window.alert("Ooops.. Problem with suara server. Silahkan coba cari lagi.");
        loading.value = false;
    })
}
const openModal = () => {
    loadArticles()
    toggleModal.value = true;
}

let timer;
const doSearch = () => {
    if (timer) {
        clearTimeout(timer);
        timer = null;
    }
    timer = setTimeout(() => {
        loadArticles();
    }, 500);
}
const removeArticle = (index) => {
    selectedArticles.value.splice(index,1);

}
const filterSelect = (val) => {
    filter.value = val;
    loadArticles();
}
const selectorClass = (val) => {
    if(filter.value == val){
        return "font-bold";
    }
}
onMounted(() => {
    if(props.modelValue){
        selectedArticles.value = props.modelValue
    }
})
watch(selectedArticles, (newval, oldval) => {
    emit("update:modelValue", newval);
})
</script>

<template>
    <div class="flex justify-between items-center">
        <div><slot/></div>
        <ButtonFlex class="bg-cyan-800 text-white text-sm cursor-pointer hover:bg-cyan-700" @click="openModal">Add</ButtonFlex>
    </div>
    <hr>
    <div class="w-full max-h-40 overflow-auto">
        <table class="w-full text-sm text-left">
            <!-- <thead>
                <tr>
                    <th>Title</th>
                    <th></th>
                </tr>
            </thead> -->
            <tbody>
                <tr v-for="(post, i) in selectedArticles" :key="i" class="border-b border-dotted">
                    <td class="align-text-top pt-1">{{i+1}}</td>
                    <td class="text-sm py-1 pl-2">{{post.title}}</td>
                    <td><ButtonFlex @click="removeArticle(i)"><i class="bx bx-x cursor-pointer p-1 bg-slate-800 text-white rounded-full"></i></ButtonFlex></td>
                </tr>
            </tbody>
        </table>
    </div>
    <PopModal v-show="toggleModal" @close="toggleModal = false" class="bg-white w-full h-3/4 md:w-4/5 md:h-3/4">
        <template #header>
            <div>
                Pilih Postingan {{titleHead}}
            </div>
        </template>
        <div class="font-normal text-sm p-2">Silakan pilih setidaknya 3 posts</div>
        <div class="w-full px-2 flex items-center">
            <div><i class="bx bx-search text-2xl"></i></div>
            <TextInput @input="doSearch" v-model="searchTitle" placeholder="Search Post..." class="text-lg w-full" :counter="false" />
        </div>
        <div class="w-full px-2 flex items-center text-sm gap-1 gap justify-center">
            <div class="p-1 cursor-pointer" :class="selectorClass('all')" @click="filterSelect('all')">All</div>
            <div class="p-1 cursor-pointer" :class="selectorClass('own')" @click="filterSelect('own')">Own</div>
        </div>
        <div v-if="articles.length > 0" class=" max-h-full overflow-auto p-2">
            <div v-for="(post, index) in articles" :key="index" class="w-full flex border-b hover:bg-gray-300 py-2">
                <div class="">
                    <img :src="post.images[0].link" alt="" class="w-10 h-10 rounded-full">
                </div>
                <div class="w-4/5 ml-2">
                    <div>{{post.title}}</div>
                    <div class="flex w-full text-xs gap-1">
                        <div class="text-gray-500 rounded-lg p-1">{{post.publish_date_str}} WIB</div>
                        <div class="bg-blue-200 text-blue-800 rounded-md p-1">{{post.category_path[0]}}</div>
                    </div>
                </div>
                <div class="ml-2">
                    <input type="checkbox" class="cursor-pointer" v-model="selectedArticles" :value="{id: post.content_id, title: post.title}">
                </div>
            </div>
        </div>
        <div v-if="loading" class="w-full flex justify-center h-1/2 items-center gap-2"><i class='bx bx-loader-alt animate-spin' ></i>Loading Data from matamata.com</div>
        <div v-if="articles.length == 0 && !loading" class="w-full flex justify-center h-1/2 items-center">Oops, Tidak ada postingan sesuai</div>
    </PopModal>
</template>
