<script setup>
import { computed, onMounted, onUpdated, onUnmounted, ref } from 'vue';
const props = defineProps(
    {
        active: {
            default: false
        }
    }
);
onMounted(() => {
    // console.log(props);
});
const isOpen = props.active?ref(true):ref(false);
const triggerClass = ref(isOpen.value ? 'hover:bg-gray-100':'');
onUpdated(() => {
    triggerClass.value = isOpen.value ? 'bg-gray-100':'';
});
</script>
<template>
    <a href="#" @click="isOpen = !isOpen" class="flex flex-row items-center h-10 px-3 rounded-lg hover:text-black hover:bg-gray-100" :class="triggerClass">
      <slot name="trigger" />
    </a>
    <!-- flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700 -->
    <div v-show="isOpen" class="flex h-2">
        <slot name="content" />
    </div>
</template>
