<script setup>
import TextInput from '../Components/TextInput.vue';
import PopModal from '../Layouts/PopModal.vue';
import Button from '../Components/ButtonFlex.vue';
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
import {ref, onMounted, onUpdated} from 'vue';
import axios from 'axios';
const props = defineProps(['modelValue', 'featured']);
const emit = defineEmits(['update:modelValue']);
const toggleModal = ref(false);
const images = ref([]);
const sbox = ref([]);
const selectedImageVal = ref([]);
const isConfirmed = ref(false);
const searchTitle = ref(null);
const loading = ref(false);
onMounted(() => {
    if(props.modelValue != null){
        isConfirmed.value = true
    }
}),
onUpdated(() => {
    console.log(props.modelValue)
});
const openAddImageModal = () => {
    loadImages();
    toggleModal.value = true;

}
const fileSelected = (ev) => {
    console.log(ev.target.files);
    uploadImage(ev.target.files[0]);
}
const uploadImage = (files) => {
    const form = new FormData();
    form.append('file', files);
    axios.post(route('rest-image-upload'), form).then((resp) => {
        if(resp.data.status){
            loadImages()
        }
    }).catch(() => {
        window.alert("Kesalahan Upload");
    })
}
const loadImages = async () => {
    loading.value = true;
    const resp = await axios.get(route('rest-image'), {params:{title:searchTitle.value}});
    images.value = resp.data.images;
    loading.value = false;
}
const selectImage = (selectedImage,index, ev) => {
    sbox.value = {[index]: 'border-4 border-pink-700 hover:border-4'};
    // selectedImageVal.value = selectedImage;
    emit('update:modelValue', selectedImage);
}
const confirm = () => {
    emit('update:modelValue', props.modelValue);
    isConfirmed.value = true;
    toggleModal.value = false;
}
let timer;
const doSearch = () => {
    if (timer) {
        clearTimeout(timer);
        timer = null;
    }
    timer = setTimeout(() => {
        // your code
        loadImages();
    }, 200);
}
</script>
<template>
    <div class="flex flex-col w-full">
        <div v-if="!isConfirmed || !props.modelValue.id" class="bg-gray-100 rounded-lg aspect-video w-2/3 m-auto">
            <div @click="openAddImageModal" class="flex w-full h-full items-center justify-center cursor-pointer">
                <div><i class="bx bx-image-add text-4xl text-gray-500"></i></div>
                <div class="text-gray-500">Add Image</div>
            </div>
        </div>
        <div v-else @click="openAddImageModal" class="flex w-full cursor-pointer">
            <img :src="props.modelValue.imageUrl" width="400" class="w-full aspect-video object-cover rounded-lg overflow-hidden">
        </div>
        <div v-if="isConfirmed && props.featured == false" class="w-2/3 m-auto pt-4">
            <input type="hidden" v-model="props.modelValue.og_filename" />
            <div class="flex gap-5 items-center">
                <div>Title: </div>
                <div class="flex-grow">
                    <!-- <input maxlength="200" type="text" v-model="props.modelValue.title" class="text-md w-full ring-0 border-0 focus:border-b focus:ring-0 focus:border-0"> -->
                    <TextInput  v-model="props.modelValue.title" :counter="false" :maxchars="500" class="text-md w-full" />

                </div>
            </div>
            <div class="flex gap-5 items-center">
                <div>Source: </div>
                <div class="flex-grow">
                    <input maxlength="200" type="text" placeholder="Type Source..." v-model="props.modelValue.source" class="text-md w-full ring-0 border-0 focus:border-b focus:ring-0 focus:border-0">
                </div>
            </div>
        </div>
        <div v-if="isConfirmed && props.featured == true" class="w-full pt-4 text-sm">
            <input type="hidden" v-model="props.modelValue.og_filename" />
            <div class="flex items-center">
                <div>Title: </div>
                <div class="flex-grow">
                    <!-- <input maxlength="200" type="text" v-model="props.modelValue.title" class="text-md w-full bg-opacity-0 bg-blue-100 ring-0 border-0 focus:border-b focus:ring-0 focus:border-0"> -->
                    <TextInput  v-model="props.modelValue.title" :counter="false" class="text-md w-full bg-blue-100 bg-opacity-0" />
                </div>
            </div>
            <div class="flex items-center">
                <div>Source: </div>
                <div class="flex-grow">
                    <input maxlength="200" type="text" placeholder="Type Source..." v-model="props.modelValue.source" class="text-md w-full bg-opacity-0 bg-blue-100 ring-0 border-0 focus:border-b focus:ring-0 focus:border-0">
                </div>
            </div>
        </div>
    </div>
    <PopModal v-show="toggleModal" @close="toggleModal = false" class="bg-white w-full h-3/4 md:w-4/5 md:h-3/4">
        <template #header>
            <div>Select Image</div>
        </template>
        <div class="flex flex-col flex-grow">
            <div class="flex items-center justify-between h-10 m-2">
                <div class="flex items-center">
                    <input type="file" hidden @change="fileSelected($event)" ref="fileInput" accept="image/jpg, image/png, image/jpeg">
                    <div>All Image</div>
                    <div @click="$refs.fileInput.click()" class="ml-4 flex items-center hover:bg-gray-100 bg-gray-300 rounded-md px-2 cursor-pointer">
                        <i class="bx bx-upload"></i>
                        <div class="pl-1">Upload</div>
                    </div>
                </div>
                <div class="flex items-center">
                    <TextInput @keyup="doSearch" v-model="searchTitle" :counter="false" class="text-md" placeholder="Search..." />
                    <div><i class="bx bx-search-alt text-xl"></i></div>
                </div>
            </div>
            <div v-if="!loading" class="flex-grow flex flex-col">
                <div class="flex-grow bg-gray-200 h-10 overflow-auto flex flex-wrap w-full">
                    <div v-if="images.length == 0" class="w-full flex flex-grow justify-center items-center">
                        <div><i class='bx bx-error-alt text-xl'></i> Image Not Found</div>
                    </div>
                    <div v-else v-for="(img, i) in images" :key="i" class="sm:w-1/4 w-1/2 p-2">
                        <div @click="selectImage(img, i, $event)" :class="sbox[i] ? sbox[i] : ''" class="w-full aspect-square bg-slate-300 cursor-pointer hover:border-2 hover:border-blue-700">
                            <img :src="img.imageUrl" alt="" class="w-full aspect-square object-cover" />
                        </div>
                        <div class="w-full text-ellipsis overflow-hidden whitespace-nowrap">{{img.title}}</div>
                        <div class="w-full text-ellipsis overflow-hidden whitespace-nowrap text-xs text-gray-500">
                            <i class='bx bx-time-five'></i> {{img.buffer.createDate}}
                        </div>
                    </div>
                </div>
            </div>
            <div v-else class="flex-grow bg-gray-50 flex flex-col items-center justify-center">
                <div><i class='bx bx-loader-alt animate-spin' ></i> Loading...</div>
            </div>
            <div class="h-10 w-full rounded-b-lg flex justify-between items-center p-2">
                <div class="flex-grow">{{props.modelValue ? props.modelValue.title : ''}}</div>
                <div v-show="props.modelValue ? true:false">
                    <Button type="button" @click="confirm" class="bg-green-700 text-white">Select</Button>
                </div>
            </div>

        </div>
    </PopModal>

</template>
