<template>
  <div v-if="links.length >= 3">
    <div class="sm:flex-1 sm:flex sm:items-center sm:justify-between bg-white p-4 rounded-sm flex-col gap-4">
      <div>
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium">{{ from }}</span>
          to
          <span class="font-medium">{{ to }}</span>
          of
          <span class="font-medium">{{ total }}</span>
          results
        </p>
      </div>
      <div>
        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
          <template v-for="(link, k) in links" :key="k">
            <Link :class="{ 'bg-gray-400 text-white': link.active }" :href="link.url" aria-current="page"
              class="z-10 relative inline-flex items-center px-4 py-2 border text-sm font-medium" v-html="link.label" />
          </template>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3';
export default {
  props: {
    links: Array,
    current_page: Number,
    from: Number,
    to: Number,
    total: Number
  },
  components: {
    Link
  }
}
</script>
