<script setup>
import Editor from '@tinymce/tinymce-vue'
import { onMounted, ref, onUpdated, } from 'vue';
import Button from '../Components/ButtonFlex.vue';
import TextInput from '../Components/TextInput.vue';
import ImagePicker from '../Components/ImagePicker.vue';
import PopModal from '../Layouts/PopModal.vue';
import { usePage } from '@inertiajs/inertia-vue3';
import axios from 'axios';
const data = ref({
  mainBody: props.modelValue ? props.modelValue.mainBody : '',
  title: props.modelValue ? props.modelValue.title : '',
  summary: props.modelValue ? props.modelValue.summary : '',
  section: props.modelValue ? props.modelValue.section : [],
});

const userLevel = usePage().props.value.auth.user.level

const level = userLevel === 1 || userLevel === 3 ? 'full' : 'mini'

const props = defineProps({
  modelValue: {
    default: null,
  },
  summary: {
    default: true,
  },
  section: {
    default: true,
  },
});
const togglePopEmbed = ref(false);
const inputEmbedUrl = ref(null);
const emit = defineEmits(['update:modelValue']);
onUpdated(() => {
  emit('update:modelValue', data.value);
});

const array_move = (arr, old_index, new_index) => {
  while (old_index < 0) {
    old_index += arr.length;
  }
  while (new_index < 0) {
    new_index += arr.length;
  }
  if (new_index >= arr.length) {
    var k = new_index - arr.length + 1;
    while (k--) {
      arr.push(undefined);
    }
  }
  arr.splice(new_index, 0, arr.splice(old_index, 1)[0]);
}

let sectionIndex = ref(0);
const addSection = (options) => {
  if (options.isEmbed) {
    data.value.section.splice(sectionIndex.value, 0, options)
  } else {
    data.value.section.splice(sectionIndex.value, 0, {
      heading: null,
      body: null,
      imageData: null,
    })
  }
  sectionIndex.value++;
}

const deleteSection = (n) => {
  data.value.section.splice(n, 1);
}
const moveSection = (direction, currentIndex) => {
  switch (direction) {
    case 'up':
      array_move(data.value.section, currentIndex, currentIndex - 1);
      break;
    case 'down':
      array_move(data.value.section, currentIndex, currentIndex + 1);
      break;
    default:
      break;
  }
}
const addEmbed = (media) => {
  axios.post(route('rest-helper', { helper: 'embed' }), { media, url: inputEmbedUrl.value }).then((resp) => {
    inputEmbedUrl.value = null;
    togglePopEmbed.value = false;
    addSection({
      heading: null,
      body: resp.data.script,
      imageData: null,
      isEmbed: true,
    });
  }).catch(() => {
    window.alert("Link tidak dapat di embed, silahkan coba link lain");
  })
}

onMounted(() => {
  if (data.value.section == undefined) {
    data.value.section = [];
  } else {
    sectionIndex.value = data.value.section.length;
  }
})
</script>
<template>
  <form>
    <div class="mt-10 px-2 w-full">
      <TextInput v-model="data.title" placeholder="ADD TITLE..." class="text-4xl w-full rounded" :maxchars="150"
        @change="$emit('titleCheck', $event)"></TextInput>
      <TextInput v-if="props.summary" v-model="data.summary" placeholder="ADD SUMMARY..." class="text-xl w-full"
        :maxchars="300"></TextInput>
      <Editor v-if="level === 'mini'" v-model="data.mainBody" api-key="27ztcihjqc51e3bewzglxqw17sq9b9qlc90mj4g9ox1x4d2w"
        :init="{
          height: 500,
          menubar: false,
          plugins: [
            'paste code help wordcount'
          ],
          paste_as_text: true,
          toolbar:
            'undo redo | bold italic | \
                                                            alignleft aligncenter alignright | \
                                                            '
        }" />
      <Editor v-else-if="level === 'full'" v-model="data.mainBody"
        api-key="27ztcihjqc51e3bewzglxqw17sq9b9qlc90mj4g9ox1x4d2w" :init="{
          height: 300,
          menubar: false,
          paste_as_text: true,
          plugins: [
            'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
            'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
            'insertdatetime', 'media', 'table', 'code', 'help', 'wordcount', 'pagebreak'
          ],
          toolbar: 'undo redo | blocks | ' +
            'bold italic | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist | ' +
            'removeformat image | code | pagebreak | link',
        }" />


      <div class="h-4"></div>

      <div v-for="(d, n) in data.section" :key="n">
        <div class="w-full" v-if="data.section[n].isEmbed == true">
          <div class="w-full flex items-center justify-end text-2xl">
            <i v-show="n > 0" class='bx bx-caret-up text-blue-800 hover:text-blue-600 cursor-pointer'
              @click="moveSection('up', n)" title="Up Section"></i>
            <i v-show="n < (data.section.length - 1)"
              class='bx bx-caret-down text-blue-800 hover:text-blue-600 cursor-pointer' @click="moveSection('down', n)"
              title="Down Section"></i>
            <i class='bx bxs-checkbox-minus text-red-800 hover:text-red-600 cursor-pointer' @click="deleteSection(n)"
              title="Delete Section"></i>
          </div>
          <div v-html="data.section[n].body" class="py-2"></div>
        </div>

        <div class="w-full" v-else>
          <div class="flex">
            <div class="flex-grow">
              <TextInput v-model="data.section[n].heading" :placeholder="'Add Heading Section ' + (n + 1) + '...'"
                class="text-xl w-full"></TextInput>
            </div>
            <div class="flex items-center justify-center text-2xl">
              <i v-show="n > 0" class='bx bx-caret-up text-blue-800 hover:text-blue-600 cursor-pointer'
                @click="moveSection('up', n)" title="Up Section"></i>
              <i v-show="n < (data.section.length - 1)"
                class='bx bx-caret-down text-blue-800 hover:text-blue-600 cursor-pointer' @click="moveSection('down', n)"
                title="Down Section"></i>
              <i class='bx bxs-checkbox-minus text-red-800 hover:text-red-600 cursor-pointer' @click="deleteSection(n)"
                title="Delete Section"></i>
            </div>
          </div>
          <div class="flex flex-wrap justify-center py-4">
            <ImagePicker v-model="data.section[n].imageData" :featured="false" />
          </div>
          <Editor v-model="data.section[n].body" apiKey="05sg9fc5lueja202xjhd7alfn69aahyux8r3w6rbgpl9cg6g" :init="{
            height: 200,
            menubar: false,
            plugins: [
              'advlist autolink lists link image charmap',
              'searchreplace visualblocks code fullscreen',
              'print preview anchor insertdatetime media',
              'paste code help wordcount table'
            ],
            paste_as_text: true,
            toolbar:
              'undo redo | formatselect | bold italic | \
                                                                        alignleft aligncenter alignright | \
                                                                        bullist numlist outdent indent | help'
          }" />

          <div class="h-4"></div>
        </div>
      </div>
      <div v-if="props.section" class="w-full flex justify-center bg-gray-100 py-1 rounded-lg gap-2">
        <Button @click="addSection" type="button" class="bg-gray-600 hover:bg-gray-400 text-white"><i
            class="bx bx-plus-circle text-xl"></i>&nbsp; New Section </Button>
        <Button @click="togglePopEmbed = true" type="button" class="bg-gray-300 hover:bg-gray-200 text-gray-800"><i
            class='bx bxs-extension text-xl'></i>&nbsp; Insert Embed </Button>
      </div>
      <div class="h-4"></div>
    </div>
  </form>
  <PopModal v-show="togglePopEmbed" class="bg-white w-full h-1/3 md:h-2/5 md:w-1/3" @close="togglePopEmbed = false">
    <template #header>
      <div>Select Media</div>
    </template>
    <div class="w-full">
      <TextInput v-model="inputEmbedUrl" class="text-md w-full" :counter="false" placeholder="Paste Embed Url Here..." />
    </div>
    <div class="w-full flex flex-col justify-center h-full items-center gap-2">
      <div class="hover:bg-blue-900 hover:text-white w-full flex items-center justify-center py-2 gap-2 cursor-pointer"
        @click="addEmbed('youtube')">
        <i class='bx bxl-youtube text-xl'></i>
        <div>Youtube</div>
      </div>
      <div class="hover:bg-blue-900 hover:text-white w-full flex items-center justify-center py-2 gap-2 cursor-pointer"
        @click="addEmbed('instagram')">
        <i class='bx bxl-instagram-alt text-xl'></i>
        <div>Instagram</div>
      </div>
      <div class="hover:bg-blue-900 hover:text-white w-full flex items-center justify-center py-2 gap-2 cursor-pointer"
        @click="addEmbed('tiktok')">
        <i class='bx bxl-tiktok text-xl'></i>
        <div>TikTok</div>
      </div>
    </div>
  </PopModal>
</template>

<style>
.embed_youtube {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.embed_youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
