<script setup>
import { computed, ref, onUpdated, onMounted } from 'vue';
import 'v-calendar/dist/style.css';
import { DatePicker } from 'v-calendar';
import ButtonFlex from '@/Components/ButtonFlex.vue';
const props = defineProps(['modelValue', 'class']);
const emit = defineEmits(['update:modelValue']);
const cal = ref(null);
const classes = computed(() => {
  let classes = "flex flex-col ";
  classes += props.class ? props.class : '';

  return classes;
});

const currentDate = new Date();
const publishAt = ref(
  props.modelValue
    ? (
      typeof props.modelValue === 'object'
        ? props.modelValue
        : new Date(props.modelValue * 1000)
    )
    : currentDate
);
const toggleSchedule = ref(false);
const schedule = () => {
  toggleSchedule.value = !toggleSchedule.value
}
const goToday = async () => {
  publishAt.value = new Date();
  await cal.value.move(new Date());
}
onMounted(() => {
  //    tanggal.value = publishAt;
  if (props.modelValue != null) {
    toggleSchedule.value = true;
  }
});
onUpdated(() => {
  emit('update:modelValue', publishAt.value);
})
</script>
<template>
  <div :class="classes">
    <div class="flex">
      <div>Publish:</div>
      <div
        v-if="publishAt == currentDate"
        class="px-1 font-bold"
      >Immediately <i
          class='bx bxs-edit-alt cursor-pointer'
          @click="schedule"
        ></i></div>
    </div>
    <div v-show="toggleSchedule">
      <DatePicker
        ref="cal"
        v-model="publishAt"
        mode="dateTime"
      >
        <template v-slot="{ inputValue, togglePopover, hidePopover }">
          <div
            class="flex items-center"
            @click="togglePopover()"
            @focusout="hidePopover()"
          >
            <button
              class="p-2 bg-blue-100 border border-blue-200 hover:bg-blue-200 text-blue-600 rounded-l focus:bg-blue-500 focus:text-white focus:border-blue-500 focus:outline-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                class="w-4 h-4 fill-current"
              >
                <path
                  d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"
              >
              </path>
            </svg>
          </button>
          <input
            :value="inputValue"
            class="bg-white text-gray-700 w-full py-1 px-2 appearance-none border rounded-r focus:outline-none focus:border-blue-500"
            readonly
          />
        </div>
        <div class="mt-1">
          <ButtonFlex
            class="bg-blue-100 text-blue-600 hover:bg-blue-200"
            @click="goToday"
          >Immediately
          </ButtonFlex>
        </div>
      </template>
    </DatePicker>
  </div>
</div></template>
