<script setup>
import { ref, onMounted } from 'vue';
import { usePage } from '@inertiajs/inertia-vue3';
import _ from 'lodash';
import axios from 'axios';
const props = defineProps({
    class: {
        default: null,
    },
    modelValue: {
        default: null,
    },
    placeholder: {
        default: "Input Tag...",
    },
    // tagType: {
    //     default: "tags",
    // }
})
const emit = defineEmits(['update:modelValue']);
const tag = ref(null);
const tags = ref([]);
const lookTags = ref([]);
const platform = usePage().props.value.config.platform;
const closeState = ref([]);
const lookCloseState = ref([]);
onMounted(() => {
    tags.value = props.modelValue ? props.modelValue : [];
})
const tagEntered = () => {
    if(tag.value == null){
        return;
    }
    if(_.indexOf(tags.value,tag.value) >= 0){
        tag.value = null;
        return;
    }
    tag.value = tag.value.replace(/[^\w\d\s\- ]/, "");
    console.log(tag.value);
    tags.value.push(tag.value);
    saveTag();
    tag.value = null;
    emit('update:modelValue', tags.value);
}
const tagDelete = (i) => {
    tags.value.splice(i, 1);
    emit('update:modelValue', tags.value);
}
let timer;

const lookTag = () => {
    if(tag.value == null){
        return;
    }
    if (timer) {
        clearTimeout(timer);
        timer = null;
    }
    timer = setTimeout(() => {
        loadTags();
    }, 500);
}
const loadTags = async () => {
    const resp = await axios.post(route('rest-helper', {helper:'get_tags'}), {params:{name:tag.value}});

    lookTags.value = resp.data.tags;
    console.log(lookTags.value);
}
const saveTag = async () => {
    const resp = await axios.post(route('rest-helper', {helper:'save_tags'}), {name: tag.value});
    console.log(resp.data);
}
const deleteTag = async (name) => {
    const resp = await axios.post(route('rest-helper', {helper:'delete_tags'}), {name});
    loadTags();

}
const selectLookTag = (i) => {
    if(_.indexOf(tags.value,lookTags.value[i].name) >= 0){
        tag.value = null;
        return;
    }
    tags.value.push(lookTags.value[i].name);
    tag.value = null;
    lookTags.value = [];
    emit('update:modelValue', tags.value);
}
</script>
<template>
    <div :class="props.class">
        <div class="flex items-center">
            <input v-model="tag" @keyup.enter="tagEntered" @keyup="lookTag" class="w-full ring-0 border-0 focus:border-b focus:ring-0 focus:border-0 bg-gray-50 bg-opacity-0" type="text" inputmode="search" :placeholder="props.placeholder" />
            <div class="rounded-lg text-2xl bg-cyan-800 text-white flex justify-center p-1 cursor-pointer hover:bg-cyan-700" @click="tagEntered"><i class='bx bx-subdirectory-left'></i></div>
        </div>
        <div v-if="lookTags.length > 0" class="h-32 bg-blue-100 border-b rounded-sm border-blue-500 mt-1 overflow-auto">
            <div v-for="(item, i) in lookTags" @mouseleave="lookCloseState[i] = false" @mouseover="lookCloseState[i] = true" :key="i" class="hover:bg-blue-200 px-2 flex justify-between items-center">
                <div @click="selectLookTag(i)" class="cursor-pointer flex-grow">{{item.name}}</div>
                <div @click="deleteTag(item.name)" v-show="lookCloseState[i]?lookCloseState[i]:false" class="cursor-pointer" style="">
                    <i class='bx bx-x-circle'></i>
                </div>

            </div>
        </div>

        <div class="w-full">
            <div class="w-full flex flex-wrap">
                <div v-for="(v, i) in tags" :key="i" @mouseleave="closeState[i] = false" @mouseover="closeState[i] = true" class="m-1 p-1 rounded-lg bg-gray-400 relative">
                    <div>{{v}}</div>
                    <div @click="tagDelete(i)" v-show="closeState[i]?closeState[i]:false" class="absolute cursor-pointer text-xs bg-red-700 text-white rounded-full flex items-center" style="right:-5px; top:0px;">
                        <i class='bx bx-x-circle'></i>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="platform == 'desktop'" class="text-sm text-gray-500">Press "Enter" to confirm</div>

    </div>
</template>
