<script setup>
import { onMounted, ref, onUpdated, computed} from 'vue';

// const props = defineProps(['modelValue', 'class','placeholder']);
const props = defineProps({
    modelValue: {
        default: null
    },
    class: {
        type: String,
        default: null,
    },
    placeholder: {
        type: String,
        default: null,
    },
    maxchars: {
        type: Number,
        default: 200,
    },
    counter: {
        default: true,
    },
    type: {
        type: String,
        default: 'text'
    }
});
const emit = defineEmits(['update:modelValue']);
const title = ref(null);
const textref = ref();

const heightAdjuster = (el) => {
    emit('update:modelValue',el.value);
    el.style.height = (el.scrollHeight > el.clientHeight) ? (el.scrollHeight)+"px" : "auto";
}
const inputClass = props.class ? props.class : 'text-xl';
onMounted(() => {

    textref.value.style.height = (textref.value.scrollHeight > textref.value.clientHeight) ? (textref.value.scrollHeight)+"px" : "auto";

})
</script>
<template>
    <div class="relative w-full">
        <textarea ref="textref" :maxlength="props.maxchars" :value="props.modelValue" @keydown.enter.prevent="" @keyup="heightAdjuster($event.target)" spellcheck="false" rows="1" :type="props.type" :placeholder="props.placeholder" :class="inputClass" class="rounded ring-0 border-0 focus:border-b focus:ring-0 focus:border-0 resize-none overflow-y-auto" />
        <div v-if="props.counter" class="absolute right-0 bottom-3 z-10 text-sm text-gray-500 pr-2">{{props.modelValue ? (props.maxchars-props.modelValue.length) : props.maxchars}} left</div>
    </div>
</template>
