<script setup>
import { ref } from 'vue';
import BreezeDropdown from '@/Components/Dropdown.vue';
import BreezeDropdownLink from '@/Components/DropdownLink.vue';
import DropdownMenu from '../Components/DropdownMenu.vue';
import { Link } from '@inertiajs/inertia-vue3';

const showingNavigationDropdown = ref(false);
</script>

<template>
  <!-- component -->
  <div class="flex flex-row min-h-screen bg-gray-100 text-gray-800">
    <aside
      class="sidebar w-64 md:shadow transform -translate-x-full md:translate-x-0 transition-transform duration-150 ease-in bg-magenta-pink">
      <div class="sidebar-header flex items-center justify-center py-4">
        <div class="inline-flex">
          <Link :href="route('dashboard')">
          <span class="leading-10 text-gray-100 text-2xl font-bold ml-1 uppercase">Dewiku</span>
          </Link>
        </div>
      </div>
      <div class="sidebar-content px-4 py-6">
        <ul class="flex flex-col w-full">
          <li class="my-px">

            <a href="#" class="flex flex-row items-center h-10 px-3 rounded-lg hover:text-gray-700 hover:bg-gray-100">
              <span class="flex items-center justify-center text-lg">
                <Link :href="route('dashboard')" class="flex items-center">
                <i class="bx bxs-home text-2xl pr-2"></i>
                <div>Dashboard</div>
                </Link>
              </span>
            </a>
          </li>
          <li class="my-px">
            <DropdownMenu :active="route().current('content*')">
              <template #trigger>
                <span class="flex items-center justify-center text-lg">
                  <i class="bx bxs-book text-2xl"></i>
                </span>
                <span class="ml-3">Post</span>
              </template>
              <template #content>
                <ul class="pl-6">
                  <li class="py-2">
                    <a href="#"
                      class="flex flex-row items-center h-10 px-3 rounded-lg hover:text-gray-700 hover:bg-gray-100"
                      :class="route().current('content-list') ? 'text-gray-700 bg-gray-100' : ''">
                      <span class="flex items-center justify-center text-lg">
                        <Link :href="route('content-list')" class="flex items-center">
                        <i class="bx bxs-news text-2xl pr-2"></i>
                        <div>All Posts</div>
                        </Link>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      class="flex flex-row items-center h-10 px-3 rounded-lg hover:text-gray-700 hover:bg-gray-100"
                      :class="route().current('content-create') ? 'text-gray-700 bg-gray-100' : ''">
                      <span class="flex items-center justify-center text-lg">
                        <Link :href="route('content-create')" class="flex items-center">
                        <i class="bx bxs-pencil text-2xl pr-2"></i>
                        <div>New Post</div>
                        </Link>
                      </span>
                    </a>
                  </li>
                </ul>
              </template>
            </DropdownMenu>
          </li>
          <!-- <li class="my-px">
                        <a href="#"
                            class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700">
                            <span class="flex items-center justify-center text-lg text-gray-400">
                                <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                                    <path
                                        d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                                </svg>
                            </span>
                            <span class="ml-3">Tasks</span>
                        </a>
                    </li> -->
        </ul>
      </div>
    </aside>
    <main class="main flex flex-col flex-grow -ml-64 md:ml-0 transition-all duration-150 ease-in">
      <header class="header bg-white shadow py-4 px-4">
        <!-- <slot name="header" /> -->
        <div class="header-content flex items-center flex-row">
          <div class="flex ml-auto">
            <BreezeDropdown align="right" width="48">
              <template #trigger>
                <span class="inline-flex rounded-md">
                  <button type="button"
                    class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition ease-in-out duration-150">
                    {{ $page.props.auth.user.name }}

                    <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                      fill="currentColor">
                      <path fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                    </svg>
                  </button>
                </span>
              </template>

              <template #content>
                <BreezeDropdownLink :href="route('logout')" method="post" as="button">
                  Log Out
                </BreezeDropdownLink>
              </template>
            </BreezeDropdown>
          </div>
        </div>
      </header>
      <div class="main-content flex flex-col flex-grow p-4">
        <div class="border-gray-400 w-full flex items-center">
          <slot name="header" />
          <div class="px-4"></div>
          <slot name="additional-header" />
        </div>
        <slot />
      </div>
      <footer class="footer px-4 py-6">
        <div class="footer-content">
          <p class="text-sm text-gray-600 text-center">© Dewiku {{ new Date().getFullYear() }}. All rights
            reserved.</p>
        </div>
      </footer>
    </main>
  </div>
</template>
