<script setup>
const emit = defineEmits(['close']);
const props = defineProps({
    class: {
        type: String,
        default: 'bg-white w-1/2 h-1/2'
    }
})
</script>
<template>
    <div class="fixed top-0 left-0 z-40">
        <div class="absolute h-screen w-screen bg-black opacity-50">
            &nbsp;
        </div>
        <div @click.self="$emit('close')" class="relative w-screen h-screen flex flex-col items-center justify-center z-50">
            <div :class="props.class" class="rounded-lg flex flex-col h-full">
                <div class="border-b font-bold text-lg flex justify-between items-center">
                    <div class="flex-grow">
                        <div class="p-2">
                            <slot name="header" />
                        </div>
                    </div>
                    <div @click="$emit('close')" class="bg-blue-800 hover:bg-blue-600 p-2 text-white text-2xl rounded-tr-lg cursor-pointer"><i class="bx bx-x"></i></div>
                </div>
                <slot />
            </div>

        </div>
    </div>
</template>